<html>
    <head>
        <title>Mosaic Art Gallery</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mosaic Art Gallery</a></h1>
        </div>

        <div>
            <p>created: 14.06.2014, 12:14</p>
            <h2><a href="">First Mosaic Art</a></h2>
            <p>file_name: hoge.png</p>
            <p>original_image: fuga.png</p>
        </div>

        <div>
            <p>created: 14.06.2014, 12:14</p>
            <h2><a href="">Second Mosaic Art</a></h2>
            <p>file_name: mofu.png</p>
            <p>original_image: piyo.png</p>
        </div>
    </body>
</html>
