<html>
    <head>
        <title>Mosaic Art Gallery</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mosaic Art Gallery</a></h1>
        </div>

        <form action="art_list" method="POST">
          {% csrf_token %}
          <input type="submit" value="モザイクアートを作る"/>
        </form>

        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        {% for mosaic_art in mosaic_arts %}
            <div>
                <h2><a href="">Mosaic Art #{{ mosaic_art.id }}</a></h2>
                <p>created: {{ mosaic_art.created_date }}</p>
                <img src="{{ STATIC_PREFIX }}images/target/{{ mosaic_art.original_image }}">
                <img src="{{ STATIC_PREFIX }}images/{{ mosaic_art.user }}/{{ mosaic_art.file_name }}" width="400" height="400">
            </div>
        {% endfor %}
    </body>
</html>
